#header
	%h1
		Traci and Ben's Wedding
#main_text
	%p
		We can't wait to see you all in June.  You can use this website to find information about the wedding and the city of Canton.
#event_details
	%p
		Here are the main details...
	%ul
		%li
			June 27th, 2014
		%li
			Gervasi Vineyard
		%li
			1700 55th St NE
		%li 
			Canton, OH 44721
		%li
			(330) 497-1000
		%li
			%a{href: "http://www.gervasivineyard.com"} www.gervasivineyard.com

