!!!

%html
	%head
		%title Traci and Ben's Wedding
		%meta{name: "viewport", content: "initial-scale=1"}
		%link{rel: "stylesheet", href: "http://fonts.googleapis.com/css?family=Rock+Salt|Amatic+SC", type: "text/css"}
		%link{rel: "stylesheet", href: "/stylesheet.css", type: "text/css"}
	%body
		-if flash[:notice]
			=flash[:notice]
		-if flash[:alert]
			=flash[:alert]
		#navigation
			%ul.nav
				%li.nav
					%a{href: '/'} Home
				%li.nav
					%a{href: '/accommodations'} Accommodations
				%li.nav
					%a{href: '/activities'} Activities
				%li.nav
					%a{href: '/submit'} Ask a Question
		=yield

		
	