/* Eric Meyers CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
	background-image: url(images/textured_paper_@2X.png);
	background-repeat: both;
	font-size: 24pt;
	font-family: 'Amatic SC', cursive;
	color: #000000;
	background-color: #ffffff;
	text-align: center;
}

#header {
	width: 100%;
	margin-bottom: 40px;
	font-family: 'Rock Salt', cursive;
	font-size: 36pt;
	color: #000000;
	text-shadow: 2px 2px 2px #666666;
}

#main_text {
	width: 100%;
}

#event_details {
	width: 100%;
	margin: 40px auto;
}

#event_details ul {
	margin: 20px auto;
	text-align: center;
	font-weight: bold;
	list-style-type: none
}

@media (max-width: 480px) {
	.content {
		padding: 20px;
	}

	#header {
		padding: 20px;
	}
	
	#intro_text {
		padding: 20px;
	}

	#event_details {
		padding: 20px;
	}

